/* ********** Custom Properties ********** */

:root {
  --first-color: #aa7752;
  --first-alpha-color: rgba(170, 119, 82, 0.75);
  --second-color:#c49a6e;
  --second-alpha-color:rgba(196, 154, 110, 0.75);
  --third-color:#d4c096;
  --third-alpha-color:rgba(212, 192, 150, 0.75);
  --four-color:#edeae6;
  --four-alpha-color:rgba(237, 234, 230, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4.1rem;
}

/* ********** Reset ********** */

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: black;
  background-color: #edeae6;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out; 
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ********** Components ********** */

/* ********** contact form ********** */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font: var(--font);
}

.contact-form input {
  border: none;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 75%;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }
  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/* ********** Hero Image ********** */

.hero-image {
  background-image: url(/assets/HeroImageAcomodadaCelular.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:var(--white-alpha-color);
}

/* .hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
} */

.hero-image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image-content img {
  width: 80%;
}

.hero-image-valores {
  background-image: url(assets/HeroImagefondoDegradadoCelular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.hero-image-opacity-valores {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:var(--white-alpha-color);
}

.hero-image-content-valores {
  margin-top: -20rem;
}

@media screen and (min-width: 1024px) {

  .hero-image {
  background-image: url(/assets/HeroImageAcomodada.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  }

  .hero-image-valores {
  background-image: url(assets/HeroImagefondoDegradado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

}


/* ********** Menú ********** */

.logo svg {
  width: 3rem;
  height: auto;
  padding-bottom: 0.4rem;
}

.logo svg:hover {
  transition: all 0.5s ease-in-out;
  opacity: .75;
}

.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1rem;
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding-top: 0.3rem;
    padding-right: 0.3rem;
  }


  .menu a:hover {
    background-color: transparent;
  }
}

/* ********** Utilities ********** */

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 1rem;
  padding: .5rem;
  display: inline-block;
  width: 150px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);

}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

.none {
  display: none;
}

/* ********** Site Styles ********** */

.about li {
  margin-bottom: 1rem;
  list-style: url(/assets/VB\ Logo-08.svg);
}

.about p {
  text-align: center;
}

.bq-text-client {
  max-width: 100vw;
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-33.333%);
  }
  66% {
    transform: translateX(66.666%);
  }
}

.carousel {
  margin: 2rem 0;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  border-radius: 1.5rem;
  background-color: var(--white-alpha-color);
}

.carousel .slides {
  padding-left: 0;
  /* 100% por cada slide */
  width: 300%;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 3s ease-in-out 1s;
}

.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  margin: 0 0.25rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  /* color: var(--white-color); */
  background-color: var(--third-color);
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-33.333%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-66.666%);
}


#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--gray-dark-color);
}

.container h3 {
  color: var(--first-color);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.hero-image-servicios {
  background-image:url(/assets/IMG_4426celular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.elegirnos {
  padding-bottom: 2rem;
}

.elegirnos-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

::marker {
  font-size: 2rem;
}

.mision {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.mision-image {
  /* width: 70vw;
  height: 100vh;
  position: relative; */
}

.mision p {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.steps {
  border: thin solid var(--first-color);
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.elegirnos-title {
  border-top: thin solid var(--black-alpha-color);
  border-bottom: thin solid var(--black-alpha-color);
  color: var(--first-color);
  padding: 0.25rem;
  margin: 2rem auto 0;

}

.porque {
  border: thin solid var(--black-alpha-color);
  background-color: var(--second-alpha-color);
  border-radius: 2rem;
  margin-top: 2rem;
}

.section-title-contact {
  border-top:thin solid var(--first-color) ;
  border-bottom:thin solid var(--first-color) ;
  margin: 0rem auto 0 auto;
  padding: 0.25rem 1rem;
  width: 250px;
  text-align: center;
}

.section-title-testimonials {
  border-top:thin solid var(--first-color) ;
  border-bottom:thin solid var(--first-color) ;
  margin: 0rem auto 0 auto;
  padding: 0.25rem 1rem;
  width: 250px;
  text-align: center;
}

.title-section-acerca {
  border-top:thin solid var(--first-color) ;
  border-bottom:thin solid var(--first-color) ;
  margin: 0rem auto 0 auto;
  padding: 0.25rem 1rem;
  width: 250px;
  text-align: center;
}

.title-section-mision {
  border-top: thin solid var(--black-alpha-color);
  border-bottom: thin solid var(--black-alpha-color);
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--first-color);
  /* margin-left: 2rem; esto para desktop */
}

.title-section-valores {
  border-top: thin solid var(--black-alpha-color);
  border-bottom: thin solid var(--black-alpha-color);
  font-size: 2rem;
  color: var(--first-color);
}

.title-section-trabajamos {
  border-top:thin solid var(--first-color) ;
  border-bottom:thin solid var(--first-color) ;
  margin: 0 auto 4rem auto;
  padding: 0.25rem;
  text-align: center;
  width: 300px;
}

.title-section-service {
  border-top:thin solid var(--first-color) ;
  border-bottom:thin solid var(--first-color) ;
  margin: 0 auto .5rem auto;
  padding: 0.25rem 1rem;
  text-align: center;
  width: 200px;
}

.servicios > .container {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-evenly;
  align-content: center;
}


.services {
  text-align: center;
  margin-bottom: 1.5rem;
}

.services p {
  color:var(--black-alpha-color);
  text-align: center;
  font-weight: bold;
}

.services img {
  width: 4rem;
  height: auto;
}

.subtitle-section-service {
  margin-bottom: 2rem;
  color: var(--black-color);
  text-align: center;
  font-size: 1rem;
  padding-top: 0.25rem;
}

.trabajamos {
  margin-top: 2rem;
}


.valores {
  margin-top: 4rem;
}

.valores p {
  font-size: 1.5rem;
  margin-top: 2rem;
  position: absolute;
}

.btn-2 {
  border-radius: 1rem;
  padding: .25rem;
  width: 150px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {

    .about {
      margin: 0 4rem;
      display: grid;
      grid-template-columns: repeat(2, 40%);
      justify-content: space-evenly;
      align-content: center;
  }

    .about .title-section-acerca {
      grid-column: span 2;
      margin-bottom: 4rem;
      margin-top: 2rem;
    }

    .elegirnos-content {
      display: grid;
      grid-template-columns: repeat(2, 45%);
      justify-content: space-between;
      align-content: center;
    }

    .elegirnos-title {
      margin-bottom: 4rem;
      grid-column: span 2;
    }

  .footer {
    margin-bottom: 0;
  }

    .porque {
      min-width: 500px;
    }

    .header {
      position: sticky;
      top: 0;
      height: calc(var(--header-height) - 0.5rem);
  }

  .hero-image-servicios {
  background-image:url(/assets/IMG_4426.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

    .section {
      padding: 4rem 1rem 0 1rem;
    }

    .servicios > .container {
      display: grid;
      grid-template-columns: repeat(5, 18%);
      justify-content: space-evenly;
      align-content: center;
    }

    .services {
      margin-top: 2rem;
    }

    .services p {
      font-weight: normal;
    }

    .contact > .container {
      margin-bottom: 2rem;
    }

    .trabajamos > .container {
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      justify-content: space-evenly;
      align-content: center;
      margin-top: -2rem;

    }

    .title-section-trabajamos {
      margin: 2rem auto 0 auto;
      width: 400px;
    }

    .title-section-service {
      margin: 2rem auto 0;
      width: 400px;
    }

    .mision p {
      font-size: 1.5rem;
      margin-top: 10rem;
      margin-bottom: 10rem;
      text-align: center;
      font-style: italic;
    }

    .title-section-mision {
      margin: 2rem auto 0 auto;
      width: 250px;
      text-align: center;
    }
}